{% extends 'base.html' %}
{% load static %}

{% block 'titulo' %}iMercado - Pedidos{% endblock %}
{% block 'head' %}

{% endblock %}

{% block 'conteudo' %}
<main>
    <h1>Lista dos pedidos</h1>
    <ul>
        {% for ped in pedidos %}
            <li>
                <div>
                    <span><a href="{% url 'pedidos:verpedido' ped.id %}">Pedido {{ped.id}}</a></span>
                </div>
            </li>
        {% endfor %}
    </ul>
    <a class="btn btn-success" href="{% url 'pedidos:adpedido' %}">Adicionar</a>
    <a href="{% url 'sistema:inicio' %}" class="btn btn-info">Voltar</a>
</main>
{% endblock %}