{% extends 'base.html' %}
{% load static %}

{% block 'titulo' %}iMercado - Página JSON{% endblock %}
{% block 'head' %}
    <link rel="stylesheet" type="text/css" href="{% static 'fornecedores/css/estilo.css' %}">
{% endblock %}

{% block 'conteudo' %}
<main>
   <!---->

   <a class="btn btn-warning espaco-baixo" href="{% url 'sistema:exportarcategorias' %}">Gerar categorias.json</a>
   <a class="btn btn-info espaco-baixo" href="{% url 'sistema:exportarfornecedores' %}">Gerar fornecedores.json</a>
   <a class="btn btn-success espaco-baixo" href="{% url 'sistema:exportarprodutos' %}">Gerar produtos.json</a>
   <a class="btn btn-light espaco-baixo" href="{% url 'sistema:exportarpedidos' %}">Gerar pedidos.json</a>
           
        
        
</main>

<script src="{% static 'fornecedores/js/funcoes.js' %}"></script>
{% endblock %}