{% extends 'base.html' %}
{% load static %}

{% block 'titulo' %}iMercado - Página JSON{% endblock %}
{% block 'head' %}
    <link rel="stylesheet" type="text/css" href="{% static 'fornecedores/css/estilo.css' %}">
{% endblock %}

{% block 'conteudo' %}
<main>
   <a class="btn btn-warning espaco-baixo" href="{% static 'dados/categorias.zip' %}" download="categorias.zip">Exportar Categoria</a><!---->
   <a class="btn btn-warning espaco-baixo" href="{% url 'sistema:exportarcategorias' %}">Exportar Categoria DJ</a>
   <a class="btn btn-info espaco-baixo" href="">Exportar Fornecedor</a>
   <a class="btn btn-success espaco-baixo" href="">Exportar Produto</a>
   <a class="btn btn-light espaco-baixo" href="">Exportar Pedido</a>
           
        
        
</main>

<script src="{% static 'fornecedores/js/funcoes.js' %}"></script>
{% endblock %}