{% extends 'base.html' %}
{% load static %}

{% block 'titulo' %}iMercado - Novo categorias{% endblock %}
{% block 'head' %}
    <link rel="stylesheet" type="text/css" href="{% static 'categorias/css/estilo.css' %}">
{% endblock %}

{% block 'conteudo' %}
<main>
    
    <div class="com-borda">
        <div class="col-md">
            <h1>Adicionar nova categoria</h1>
            <form action="{% url 'categorias:categoriasbd' %}" method="POST">
                {% csrf_token %}
                <label>Nome:</label>
                <input class="form-control" type="text" name="ncategoria" id="ncategoria" placeholder="Nome categoria">
                <label>Descrição:</label>
                <textarea class="espaco-baixo form-control" id="dcategoria" name="dcategoria" rows="2" cols="30"></textarea>
                <div class="botoes">
                    <input type="submit" value="Salvar" class="btn btn-success acat">
                    <a href="{% url 'categorias:listacategorias' %}" class="btn btn-info">Voltar</a>
                </div>
            </form>
        </div>
    </div>

    
</main>

<script src="{% static 'categorias/js/funcoes.js' %}"></script>
{% endblock %}