{% extends 'base.html' %}
{% load static %}

{% block 'titulo' %}iMercado - Editar categoria{% endblock %}
{% block 'conteudo' %}
<main>
    <h1>Editar Categoria {{cat.id}}</h1>
    
    <form action="{% url 'categorias:editarcategoriabd' %}" method="post">
        {% csrf_token %}
        <input type="hidden" name="categoria_id" value="{{cat.id}}">
        <label>Nome:</label>
        <input type="text"  value="{{cat.nome}}" name="ncategoria" id="ncategoria">
        <!--class="form-control"-->
        <label>Descrição:</label>
        <input type="text" id="dcategoria" value="{{cat.descricao}}" name="dcategoria" ></input>

        <input type="submit" value="Salvar" class="btn btn-success edcat">
        <a href="{% url 'categorias:vercategoria' cat.id %}" class="btn btn-danger">Cancelar</a>

    </form>

    
</main>

<script src="{% static 'categorias/js/funcoes.js' %}"></script>
{% endblock %}