{% extends 'base.html' %}
{% load static %}

{% block 'titulo' %}iMercado - Editar categoria{% endblock %}
{% block 'head' %}
    <link rel="stylesheet" type="text/css" href="{% static 'categorias/css/estilo.css' %}">
{% endblock %}
{% block 'conteudo' %}
<main>
    <h1>Editar Categoria {{cat.id}}</h1>
    
    <div class="com-borda">
        <div class="col-md">
            <form action="{% url 'categorias:editarcategoriabd' %}" method="post">
                {% csrf_token %}
                <input type="hidden" name="categoria_id" value="{{cat.id}}">
                <label>Nome:</label>
                <input class="form-control" type="text"  value="{{cat.nome}}" name="ncategoria" id="ncategoria">
                <!--class="form-control"-->
                <label>Descrição:</label>
                <input type="text" class="form-control espaco-baixo" id="dcategoria" value="{{cat.descricao}}" name="dcategoria" >
                <div class="botoes">
                    <input type="submit" value="Salvar" class="btn btn-success edcat">
                    <a href="{% url 'categorias:vercategoria' cat.id %}" class="btn btn-danger">Cancelar</a>
                </div>
            </form>
        </div>
    </div>

    
</main>

<script src="{% static 'categorias/js/funcoes.js' %}"></script>
{% endblock %}