{% extends 'base.html' %}
{% load static %}

{% block 'titulo' %}iMercado - Categoria{% endblock %}
{% block 'head' %}
    <link rel="stylesheet" type="text/css" href="{% static 'categorias/css/estilo.css' %}">
{% endblock %}
{% block 'conteudo' %}
<main>
    
    <div class="com-borda">
        <div class="col-md">
            <h1>Categoria {{cat.id}}</h1>
            
            <label>Nome:</label>
            <p>{{cat.nome}}</p>
            <label>Descrição:</label>
            <p>{{cat.descricao}}</p>

    
            <form action="{% url 'categorias:excluircategoria' %}" method="post">
                {% csrf_token %}
                <input type="hidden" name="categoria_id" value="{{cat.id}}">
        
                <div class="botoes">
                    <a class="btn btn-success" style="color:white" href="{% url 'categorias:editarcategoria' cat.id %}">Editar</a>
                    <input type="submit" value="Excluir" class="btn btn-danger ecat">
                    <a href="{% url 'categorias:listacategorias' %}" class="btn btn-info">Voltar</a>
                </div>
            </form>
        </div>
    </div>
   

    
</main>

<script src="{% static 'categorias/js/funcoes.js' %}"></script>
{% endblock %}