{% extends 'base.html' %}
{% load static %}

{% block 'titulo' %}iMercado - Categoria{% endblock %}
{% block 'conteudo' %}
<main>
    <h1>Categoria {{cat.id}}</h1>
    
    <p>{{cat.nome}}</p>
    <p>{{cat.descricao}}</p>

    <form action="{% url 'categorias:excluircategoria' %}" method="post">
        {% csrf_token %}
        <input type="hidden" name="categoria_id" value="{{cat.id}}">
        
        <button class="btn btn-success"><a style="color:white" href="{% url 'categorias:editarcategoria' cat.id %}">Editar</a></button>
        <input type="submit" value="Excluir" class="btn btn-danger ecat">
        <a href="{% url 'categorias:listacategorias' %}" class="btn btn-info">Voltar</a>
    </form>
   

    
</main>

<script src="{% static 'categorias/js/funcoes.js' %}"></script>
{% endblock %}