{% extends 'base.html' %}
{% load static %}

{% block 'titulo' %}Login{% endblock 'titulo' %}
{% block 'head' %}
    <link rel="stylesheet" type="text/css" href="{% static 'autenticacao/css/estilo.css' %}">
{% endblock %}

{% block 'conteudo' %}

<main class="container">
    <br>
    {% if status == '1'%}
        <div class="alert alert-danger" role="alert">
            E-mail ou senha inválidos!
        </div> 
    {% endif %}

    {% if status == '2'%}
        <div class="alert alert-danger" role="alert">
            Faça login primeiro!
        </div> 
    {% endif %}
    
    <div class="row">

        <div class="col-md-3"></div>
        <div class="col-md caixa">
            <strong>Login</strong>
            <hr>
            <form method="POST" action="{% url 'autenticacao:valida_login' %}">
                {% csrf_token %}

                <label>E-mail</label>
                <input name="email" class="form-control" type="text" placeholder="E-mail">

                <label>Senha</label>
                <input name="senha"class="form-control" type="password" placeholder="Senha...">
                <br>
                <div class="botoes">
                    <input class="btn btn-info btn-lg" type="submit" value="Logar">
                    <a href="{% url 'autenticacao:cadastro' %}" class="btn btn-warning btn-lg">Cadastro</a>
                </div>
                <hr>

            </form>
        </div>
        <div class="col-md-3"></div>

    </div>
</main>


{% endblock 'conteudo' %}