{% extends 'base.html' %}
{% load static %}

{% block 'titulo' %}iMercado - Editar fornecedor{% endblock %}
{% block 'conteudo' %}
<main>
    <h1>Editar fornecedor {{fn.id}}</h1>
    
    <form action="{% url 'fornecedores:editarfornecedorbd' %}" method="post" enctype='multipart/form-data'>
        {% csrf_token %}
        <input type="hidden" name="fornecedor_id" value="{{fn.id}}">

        <!--<label>Logo:</label>
        <input id="id_image" type="file" class="" Required name="image">-->
        <label>Nome:</label>
        <input type="text"  value="{{fn.nome}}" name="nfornecedor" id="nfornecedor">
        <!--class="form-control"-->
        <label>CNPJ:</label>
        <input type="text"  value="{{fn.cnpj}}" name="cnpj" id="cnpj">

        <input type="submit" value="Salvar" class="btn btn-success">
        <a href="{% url 'fornecedores:verfornecedor' fn.id %}" class="btn btn-danger">Cancelar</a>
        <a href="{% url 'fornecedores:paginseririmg' fn.id %}" class="btn btn-warning">Nova imagem</a>
        
    </form>

    
</main>

<script src="{% static 'fornecedores/js/funcoes.js' %}"></script>
{% endblock %}