main{
    margin-top: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.cabecalho-inicio{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.com-borda{
    border: 1px solid black;
    padding: 15px;
    border-radius: 10px;
    box-shadow:10px 10px 5px rgb(86, 33, 33);
    background-color:rgb(246, 237, 223);
}

.foto-perfil{
    height: 150px;
    width: 150px;
    float: right;
}

h1{
    font-size: 50px;
    float: left;
    
}

h6{
    font-size: 20px;
}


.perfil{
    display: flex;
    align-items:center;
    justify-content:space-between;
}

.seta{
    height: 20px;
    width: 20px;
    padding-left: 5px;
}

.aperte{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: row;
    background-color: rgb(216, 207, 207) ;
}

.fundo-aperte{
    background-color: rgb(216, 207, 207) ;
}

