{% extends 'base.html' %}
{% load static %}

{% block 'titulo' %}iMercado - Adicionar produto{% endblock %}
{% block 'head' %}
    <link rel="stylesheet" type="text/css" href="{% static 'produtos/css/estilo.css' %}">
{% endblock %}
{% block 'conteudo' %}
<main>
    <div class="com-borda espaco-baixo">
        <div class="col-md centro">
            <h1 class="espaco-baixo">Adicionar produto {{pr.id}}</h1>
            
            <form action="{% url 'produtos:produtobd' %}" method="post" enctype='multipart/form-data'>
                {% csrf_token %}
                <input type="hidden" name="produto_id" value="{{pr.id}}">
                <label>Foto:</label>
                <input class="espaco-baixo" id="imageprod" type="file" class="" name="imageprod">
                <br>
                <label>Nome:</label>
                <input class="form-control" type="text"  value="{{pr.nome}}" name="nproduto" id="nproduto">
                <!--class="form-control"-->
                <label>Categoria:</label>
                <select class="form-control" id="cat_produto"  name="cat_produto">
                    {% for cat in ctgs %}
                    <option value="{{cat.id}}">{{cat.nome}}</option>
                    {% endfor %}
                </select>

                <label>Preço:</label>
                <input class="form-control" type="text"  value="{{pr.preco}}" name="pproduto" id="pproduto">

                <label>Descrição:</label>
                <textarea class="form-control" type="text"  value="{{pr.descricao}}" name="dproduto" id="dproduto"></textarea>

                <label>Estoque:</label>
                <input class="form-control" type="text"  value="{{pr.estoque}}" name="eproduto" id="eproduto">

                

                <label>Fornecedor:</label>
                <select class="espaco-baixo form-control" id="forn_produto" name="forn_produto">
                    {% for forn in fncd %}
                    <option value="{{forn.id}}">{{forn.nome}}</option>
                    {% endfor %}
                </select>
                
                <div class="botoes">
                    <input type="submit" value="Salvar" class="btn btn-success apr" >
                    <a href="{% url 'produtos:listaprodutos' %}" class="btn btn-danger">Cancelar</a>
                </div>
            </form>
        </div>
    </div>
    
</main>

<script src="{% static 'produtos/js/funcoes.js' %}"></script>
{% endblock %}