{% extends 'base.html' %}
{% load static %}

{% block 'titulo' %}iMercado - Adicionar produto{% endblock %}
{% block 'conteudo' %}
<main>
    <h1>Adicionar produto {{pr.id}}</h1>
    
    <form action="{% url 'produtos:produtobd' %}" method="post" enctype='multipart/form-data'>
        {% csrf_token %}
        <input type="hidden" name="produto_id" value="{{pr.id}}">

        <label>Foto:</label>
        <input id="imageprod" type="file" class="" name="imageprod">
        
        <label>Nome:</label>
        <input type="text"  value="{{pr.nome}}" name="nprod" id="nprod">
        <!--class="form-control"-->
        <label>Categoria:</label>
        <select id="cat_prod"  name="cat_prod">
            {% for cat in ctgs %}
              <option value="{{cat.id}}">{{cat.nome}}</option>
            {% endfor %}
        </select>

        <label>Preço:</label>
        <input type="text"  value="{{pr.preco}}" name="pprod" id="pprod">

        <label>Descrição:</label>
        <textarea type="text"  value="{{pr.descricao}}" name="dprod" id="dprod"></textarea>

        <label>Estoque:</label>
        <input type="text"  value="{{pr.estoque}}" name="eprod" id="eprod">

        

        <label>Fornecedor:</label>
        <select  id="forn_prod" name="forn_prod">
            {% for forn in fncd %}
              <option value="{{forn.id}}">{{forn.nome}}</option>
            {% endfor %}
        </select>
        
        <input type="submit" value="Salvar" class="btn btn-success apr" >
        <a href="{% url 'produtos:listaprodutos' %}" class="btn btn-danger">Cancelar</a>
    </form>

    
</main>

<script src="{% static 'produtos/js/funcoes2.js' %}"></script>
{% endblock %}