{% extends 'base.html' %}
{% load static %}

{% block 'titulo' %}iMercado - Produto{% endblock %}
{% block 'conteudo' %}
<main>
    <h1>Produto {{pr.id}}</h1>
    <img src="{{pr.img.url}}" alt="logo">
    <p>{{pr.nome}}</p>
    <p>{{pr.categoria.nome}}</p>
    <p>{{pr.preco}}</p>
    <p>{{pr.descricao}}</p>
    <p>{{pr.estoque}}</p>
    <p>{{pr.fornecedor.nome}}</p>

    <form action="{% url 'produtos:excluirproduto' %}" method="post">
        {% csrf_token %}

        
        <input type="hidden" name="produto_id" value="{{pr.id}}">
        <input type="hidden" name="imagem_prod" value="{{pr.img.url}}">
        
        <button><a href="{% url 'produtos:editarproduto' pr.id %}">Editar</a></button>
        <input type="submit" value="Excluir" class="btn btn-danger exclusao" >
        <a href="{% url 'produtos:listaproduto' %}" class="btn btn-info">Voltar</a>
    </form>
   
</main>

<script src="{% static 'produtos/js/funcoes.js' %}"></script>
{% endblock %}