main{
    margin-top: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.cabecalho-inicio{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    
}

.tamanho{
    width: 70%;
}

.com-borda{
    width: 40%;
    border: 1px solid black;
    padding: 15px;
    border-radius: 10px;
    box-shadow:10px 10px 5px rgb(86, 33, 33);
    background-color:rgb(246, 237, 223);
}

.foto-perfil{
    height: 150px;
    width: 150px;
    float: right;
}

h1{
    font-size: 50px;
    float: left;
    
}

h6{
    font-size: 20px;
}


.perfil{
    display: flex;
    align-items:center;
    justify-content:space-between;
}

.seta{
    height: 20px;
    width: 20px;
    padding-left: 5px;
}

.aperte{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: row;
    background-color: rgb(216, 207, 207) ;
}

.fundo-aperte{
    background-color: rgb(216, 207, 207) ;
}

.foto-ped{
    height: 40px;
    width: 40px;
}

body a{
    text-decoration: none;
    color: rgb(131, 35, 35);
}

body a:hover{
    color: red;
}

.imagem{
    width: 300px;
    height: 200px;
    border:1px solid rgb(215, 215, 164)
}
