{% extends 'base.html' %}
{% load static %}
{% block 'head' %}
    <link rel="stylesheet" type="text/css" href="{% static 'sistema/css/estilo.css' %}">
{% endblock %}

{% block 'conteudo' %}
<main>
    <div>
        <h1>Página Inicial do iMercado</h1>
        <p>Veja abaixo os produtos e mercados disponíveis</p>
        <div >
            <div class="aperte">
                <h3>Pedidos</h3>
                <img class="seta" src="{% static 'sistema/img/setabaixo.svg' %}" alt="seta baixo">
            </div>
            <section>Lista dos pedidos</section>
        </div>
        <div >
            <div class="aperte">
                <h3>Produtos</h3>
                <img class="seta" src="{% static 'sistema/img/setabaixo.svg' %}" alt="seta baixo">
            </div>
            <section>Lista dos produtos</section>
        </div>
        <div >
            <div class="aperte">
                <h3>Mercados</h3>
                <img class="seta" src="{% static 'sistema/img/setabaixo.svg' %}" alt="seta baixo">
            </div>
            <section>Lista dos mercados</section>
        </div>
    </div>
</main>
{% endblock %}