{% extends 'base.html' %}
{% load static %}


{% block 'conteudo' %}
<main>
    <h1>Página Inicial do iMercado</h1>

    <p>Veja abaixo os produtos e mercados disponíveis</p>
    <div>
        <div>
            <h3>Pedidos</h3>
            <img src="{% static 'sistema/img/setabaixo.svg' %}" alt="seta baixo">
        </div>
        <section>Lista dos pedidos</section>
    </div>
    <div>
        <div>
            <h3>Produtos</h3>
            <img src="{% static 'sistema/img/setabaixo.svg' %}" alt="seta baixo">
        </div>
        <section>Lista dos produtos</section>
    </div>

    <div>
        <div>
            <h3>Mercados</h3>
            <img src="{% static 'sistema/img/setabaixo.svg' %}" alt="seta baixo">
        </div>
        <section>Lista dos mercados</section>
    </div>
</main>
{% endblock %}