{% extends 'base.html' %}
{% load static %}

{% block 'titulo' %}iMercado - Sobre{% endblock %}
{% block 'head' %}

{% endblock %}

{% block 'conteudo' %}
<main>
    <div>
        <h1>Sobre</h1>
        <h6>Desenvolvedor:</h6>
        <p>Diego Dreossi</p>
        <h6>RA:</h6>
        <p>2840481921019</p>
        <p>Portifólio: <a href="https://github.com/diego-goncalves-dreossi">Github</a></p>
        <h6>Descrição:</h6>
        <p>O presente sistema serve para catalogar o estoque de produtos de uma franquia de supermercados.</p>
        <p>Podemos cadastrar produtos, fornecedores, formas de pagamento, filiais da franquia e pedidos de produtos.</p>
    </div>
</main>
{% endblock %}