{% extends 'base.html' %}
{% load static %}

{% block 'titulo' %}iMercado - Sobre{% endblock %}
{% block 'head' %}
    <link rel="stylesheet" type="text/css" href="{% static 'sistema/css/estilo.css' %}">
{% endblock %}

{% block 'conteudo' %}
<main>
    <div class="com-borda">
        
        <div class="perfil">
            <h1>Sobre</h1>
            <img class="foto-perfil" src="{% static 'sistema/img/foto.png' %}" alt="Foto Desenvolvedor">
        </div>
        <h6>Desenvolvedor:</h6>
        <p>Diego Dreossi</p>
        <h6>RA:</h6>
        <p>2840481921019</p>
        <p>Portifólio: <a href="https://github.com/diego-goncalves-dreossi">Github</a></p>
        <h6>Descrição:</h6>
        <p>O presente sistema serve para catalogar o estoque de produtos de uma franquia de supermercados.</p>
        <p>Podemos cadastrar produtos, fornecedores,  filiais da franquia e pedidos de produtos.</p>
        <P>Controle o estoque de sua rede e faça seus pedidos conosco.</P>
    </div>
</main>
{% endblock %}